@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
}

/* reset.css */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  touch-action: none;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}